<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">EXPENSE TRACKER</h1>
    <p class="lead">YOU CAN TRACK YOUR EXPENSES HERE</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">DIsplay Transactions</a>
    <a class="btn btn-dark btn-lg" href="/expenses" role="button">ADD TRANSACTON</a>

  </div>
</div>

<%- include('partials/footer') %>
